<div class="hero">

    <h1>Guys bot for Slack</h1>

    <figure>
        <img src="https://cdn.glitch.com/4cdc76b8-e59e-4ce9-b7d8-9dca722252ca%2F2018-12-10%20at%2014.43.png?1544449401904"
            alt="Screenshot from Guys bot" />
        <figcaption>Screenshot from Guys bot</figcaption>
    </figure>

    <p>This bot is based on the <a href="https://glitch.com/~guys-bot">Guys bot for GitHub</a> and an idea that emerged
        on <a href="https://twitter.com/stefanjudis/status/1072066478114070529">twitter</a>. </p>

    <p>While the twitter thread suggested to add this functionality to Slackbot, I wanted to have a bot that
        didn&#8217;t correct people publicly in the <a href="htttps://slack.sanity.io">Sanity Slack Community</a>,
        since I suspect most people doesn&#8217;t use it intentionally to exclude.</p>
    <p>Read the <a href="https://dev.to/kmelve/the-problem-with-you-guys-51h7">think piece™ on dev.to.</a></p>
    <p>You should be able to install this bot to your own slack team by pushing the button under.</p>

    <a href="https://slack.com/oauth/authorize?client_id=338140016756.499663249299&scope=bot,channels:history,groups:history,im:history,mpim:history"><img
            alt="Add to Slack" height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png"
            srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x" /></a>

    <p>
        Check out the <a href="https://glitch.com/edit/#!/guys-bot-for-slack">code for this project</a>
    </p>
    <p>
        – <em><a href="http://twitter.com/kmelve">kmelve</a></em>
    </p>
</div>